<% content_for :page_title, @review.title %>
<section class="w-full">
  <%= @review.title %>
  <%= @review.restaurant %>
  <%= @review.cuisine %>
  <%= simple_format @review.body %>
  <%= @review.score %>
  /10
  <% if @review.ambiance.present? %>
    <p>Ambiance: <%= @review.ambiance %></p>
  <% end %>
  <p class="flex justify-between my-6">
    <%= link_to "Edit this review",
    edit_review_path(@review),
    class: "py-2 px-4 rounded-md bg-teal-500 text-white" %>
    <%= link_to "Delete this review",
    @review,
    data: {
      "turbo-method": :delete,
      "turbo-confirm": "Are you sure?"
    },
    class: "py-2 px-4 rounded-md bg-red-100 text-red-600" %>
  </p>
</section>
