<!DOCTYPE html>
<html>
  <head>
    <title>Bien Restaurant Reviews | Best restaurant reviews in Ireland</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <header>
      <h1>
        <%= link_to root_path do %>
          <%= image_tag('bien-logo.svg', alt: "Bien Logo") %>
        <% end %>
      </h1>
      <h2>Best restaurant reviews in Ireland</h2>
      <nav>
        <%= link_to "Add a review", new_review_path %>
      </nav>
    </header>
    <main class="container mx-auto mt-28 px-5 flex">
      <%= yield %>
    </main>
    <footer>
      Copyright 2023 - Bien Restaurant Reviews
    </footer>
  </body>
</html>
